#picture
*.bmp
*.jpg
*.gif
*.png
*.jpeg

#cache
*.cache
*.Cache
#exe
*.exe

# test result
/eyes/bin/Debug/BMP/
/eyes/bin/Debug/L/*.jpg
/eyes/bin/Debug/R/*.jpg
/eyes/bin/Debug/image/*.*

#visual studio file

/eyes/bin/Debug/eyes.exe
/eyes/bin/Debug/eyes.pdb
/eyes/obj/Debug/eyes.exe
/eyes/obj/Debug/eyes.pdb
/.vs/eyes/v14/.suo
